.header-wrapper {
  /*헤더를 fixed 해주려고 만든 클래스*/
  position: fixed;
  z-index: 2;
  /*layer의 순서에서 오류가 있어서 수정한 부분*/
  top: 0px;
  width: 100%;
  background-color: #b6cddd;
  padding: 6px 0px;
}

.chats__body .header,
.chats__body .status-bar {
  padding: 0px 20px;
}

.chats__body {
  padding: 0;
  padding-top: 100px;
  min-height: 1000px;
  background-color: #b6cddd;
  min-height: 200vh; /*veiw point를 200%로*/
}

.chat__write-container {
  position: fixed;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  /*위 세 줄의 소스가 채팅 입력란을 가운데 정렬하는 방법*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
  opacity: 0.7;
  margin-left: 5px;
}
.chat__icon-right {
  position: absolute;
  right: 10px;
  opacity: 0.7;
}

.chat__icon-right .chat__write-icon {
  margin: 0px 5px;
}

@keyframes float {
  /*float라는 이름의 애니메이션 정의*/
  0% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

.chat__write {
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  border-radius: 0px;
  padding: 20px 60px;
  width: 100%;
  border: none;
  font-size: 14px;
  transition: width 0.3s ease-in, border-radius 0.3s ease-in,
    transform 0.3s ease-in;
}

.chat__write:focus {
  outline: none;
  /*width: 80%;
  transform: translateY(-100px);
  border-radius: 10px;
  box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: float 1.7s linear infinite forwards;*/
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  padding: 10px;
  width: 100%;
  border: none;
  font-size: 14px;
}

.chat-screen .chat__messages {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__messages .chat__timestamp {
  background-color: rgba(114, 114, 114, 0.753);
  font-size: 12px;
  color: #f7f7f7;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  font-weight: 300;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.incoming-message {
  align-self: flex-start;
}

.sent-message {
  align-self: flex-end;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.incoming-message img {
  width: 30px;
  border-radius: 10px;
  margin-right: 15px;
  /*animation: spin 2s linear infinite;*/
}

.message .message__bubble {
  background-color: white;
  display: block;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
}

.incoming-message .message__author {
  margin-bottom: 5px;
  display: block;
  font-size: 12px;
}

.incoming-message .message__bubble {
  border-top-left-radius: 0;
  background-color: #f7f7f7;
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0;
  background-color: #fdc830;
}

@keyframes incomingAni {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message {
  animation: incomingAni 0.5s linear forwards;
}

@keyframes sentAni {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.sent-message {
  animation: sentAni 0.5s linear forwards;
  /*forwards는 애니메이션이 끝나도 마지막 value를 유지한다는 뜻*/
}
